    <footer>
        <ul>
            <li><a href="mailto:pcvonz@gmail.com"><p> pcvonz@gmail.com </p></a></li>
            <li><a href="https://github.com/pcvonz/"><img src="images/github.png"></a></li>
            <li><a href="https://twitter.com/pcvonz"><img height="32" src="images/twitter.png"></a></li>
            <li><a href="https://www.linkedin.com/in/paul-von-zimmerman-390627100"><img height="32" src="images/linked.png"></a></li>
        </ul>
    </footer>
    <script src="js/app.js"></script>
</body>
</html>
