$tablet: 767px;
$desktop: 1024px;
$primary-color: #000000;
$secondary-color: #FF2164;
$ternary-color: #1E0464;
$gray: #464646;
$dark-gray: #0f0f0f;

//Item colors
$hit-and-bun-color: #501E30;
$faxian-color: #92c199;
$secutor-color: #ff5555;
$ur-styleguide-color: #084286;
$townie-color: #ffb380;
