
<div class="wrapper">
<header class="site-header">



    <h1>{{ site.title }}</h1>
    <object class="header-shapes" id="cube_down" type="image/svg+xml" data="media/images/cube.svg">
        <img src="media/images/header_shape_1.png" alt="header shape 1"/>
    </object>
    <object class="header-shapes" id="cone_down" type="image/svg+xml" data="media/images/cone.svg">
        <img src="media/images/header_shape_1.png" alt="header shape 1"/>
    </object>
    <object class="header-shapes" id="sphere_down" type="image/svg+xml" data="media/images/sphere.svg">
        <img src="media/images/header_shape_2.png" alt="header shape 2"/>
    </object>
      </a>
<!--      <div class="trigger">
        {% for my_page in site.pages %}
          {% if my_page.title %}
          <a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
          {% endif %}
        {% endfor %}
      </div>
 -->

</header>
