@import "../bower_components/susy/sass/susy";
$susy: (
    columns: 12,
    gutters: 1/4,
    /* Border box makes it so the box size isn't padding + width, instead its the actual size */
    global-box-sizing: border-box
);

nav {@include span(12 of 12); }

//base styles
.wrap {
    @include container;
}
//Menu

.menu ul li {
    list-style: none;
}

.menu {
    position: static;
    
}

//posts

.header-shapes { 
    @include span(3.9 of 12);
 }

.center-image{
    @include span(12 of 12);
}

.center-image img {
    display:block;
    margin-left: auto;
    margin-right: auto;
}

.text-content {
    @include span(12 of 12); 
}
.text-content p {
    display:block;
    margin-left: auto;
    margin-right: auto;
    max-width: 40em;
}
.text-content h2 {
    text-align: center;
}

.graphic-design {
    background-color: #F5F5F5;
}

.web-design {
    background-color: #3F3F3F;
    height: 34vw;
}

.programming {
    background-color: #F5F5F5;
    height: 34vw;
}

//Header
.site-header {
    background-color: #94D0DE;
    height: 30vw;
}

.site-header h1 {
    @include span(12 of 12);
    text-align: center;
    color: white;
    font-size: 3vw;
    font-weight: bold;
    bottom: 6vw;
}

//header shapes
$svg_height: 5vw;

#cube_up {
    position: relative;
    top: 10vw;
    height: $svg_height;
    -webkit-transition: top 2s;
    transition: top 2s;
    }

#cube_down {
    position: relative;
    top: 15vw;
    height: $svg_height;
    -webkit-transition: top 2s;
    transition: top 2s;
}
#cone_up {
    position: relative;
    top: 10vw;
    height: $svg_height;
    -webkit-transition: top 2s;
    transition: top 2s;
}
#cone_down {
    position: relative;
    top: 15vw;
    height: $svg_height;
    -webkit-transition: top 2s;
    transition: top 2s;
}
#sphere_up {
    position: relative;
    top: 10vw;
    height: $svg_height;
    -webkit-transition: top 2s;
    transition: top 2s;
}
#sphere_down{
    position: relative;
    top: 15vw;
    height: $svg_height;
    -webkit-transition: top 2s;
    transition: top 2s;
}

//Footer

.site-footer {
    margin-top: 1em;
    padding: 1em;
    @include span(12 of 12);
    background-color: #94D0DE;
}

.contact-list {
    @include span(10 of 12);
    margin: 0;
    color: white;
    list-style: none;
}

.social-media-list li {
    @include span(1 of 12);
    margin: 0;
    list-style: none;
    text-align: right;
}

.social-media-list a {
    color: white
}
