@import "../bower_components/susy/sass/susy";
$susy: (
    columns: 12,
    gutters: 0,
    /* Border box makes it so the box size isn't padding + width, instead its the actual size */
    global-box-sizing: border-box
);

nav {@include span(12 of 12); }

//base styles
.wrap {
    @include container;
}
//Menu

.menu ul li {
    list-style: none;
    color: white;
    @include span(4 of 12);
    margin-right: 0;
    text-align: center;
    padding: 1em 0 1em 0;
}

.menu div {
    cursor: pointer;
}

.menu ul div:first-child  li{
    background-color: #94D0DE;
}

.menu ul div:nth-child(2) li{
    background-color: #CC6C6C;

}
.menu ul div:last-child  li{
    background-color: #EFD084;
}


//posts

.header-shapes { 
    @include span(4 of 12);
 }

.center-image{
    width: 100%;
    text-align: center;
    margin: 2em 0;
    @include span(12 of 12);
}

.center-image img, iframe {
    max-height: 630px;
    max-width: 90%
}

.center-image iframe {
    width: 100%;
    min-height: 600px;
}

.text-content {
    @include span(12 of 12); 
    text-align: left;
}
.text-content p {
    display:block;
    margin-left: auto;
    margin-right: auto;
    max-width: 40em;
}
.text-content h2 {
    text-align: center;
}

.graphic-design-content, .web-design-content, .programming-content  {
    list-style: none;
    background-color: #F5F5F5;
}

.page-content {
    min-height: 40vw;
}

//Header
.graphic-design {
    background-color: #94D0DE;
    height: 30vw;
}
.web-design {
    background-color: #CC6C6C;
    height: 30vw;
}
.programming {
    background-color: #EFD084;
    height: 30vw;
}

h1 {
    @include span(12 of 12);
    text-align: center;
    color: white;
    font-size: 5vw;
    font-weight: bold;
    bottom: 6vw;
    margin-top: 1vw;
}

//header shapes
$svg_height: 5vw;

#cube_up {
    position: relative;
    top: 10vw;
    height: $svg_height;
    -webkit-transition: top 2s;
    transition: top 2s;
    }

#cube_down {
    position: relative;
    top: 15vw;
    height: $svg_height;
    -webkit-transition: top 2s;
    transition: top 2s;
}
#cone_up {
    position: relative;
    top: 10vw;
    height: $svg_height;
    -webkit-transition: top 2s;
    transition: top 2s;
}
#cone_down {
    position: relative;
    top: 15vw;
    height: $svg_height;
    -webkit-transition: top 2s;
    transition: top 2s;
}
#sphere_up {
    position: relative;
    top: 10vw;
    height: $svg_height;
    -webkit-transition: top 2s;
    transition: top 2s;
}
#sphere_down{
    position: relative;
    top: 15vw;
    height: $svg_height;
    -webkit-transition: top 2s;
    transition: top 2s;
}

//Footer

.site-footer {
    margin-top: 1em;
    padding-bottom: 1em;
    @include span(12 of 12);
    background-color: #94D0DE;
}

.contact-list {
    @include span(10 of 12);
    margin: 0;
    color: white;
    list-style: none;
    padding: 1em;
}

.social-media-list li {
    @include span(1 of 12);
    margin: 0;
    list-style: none;
    text-align: right;
    padding: 1em 0em 0em 0em;
}

.social-media-list a {
    color: white
}
