.anim-badge {
  a {
    height: 100%;
    width: 100%;
    display: block;
  }
  height: 300px;
  position: relative;
  overflow: hidden;
  @include breakpoint($tablet) {
    @include gallery(4 of 12);
  }
  z-index: 0;
  .badge-content {
    transition: background-color .2s, color .2s;
  }
  margin-bottom: 2em;
  transition: filter .2s;
}   

.anim-badge:hover {
  filter: brightness(118%);
  .badge-content {
    color: white;
    background-color: black;
    p, h2 {
      color: white;
    }
    h2 {
      font-weight: 800;
    }
  }
}

.badge-content {
  position: absolute;
  width: 100%;
  display: inline-block;
  text-align: center;
  background-color: transparentize($primary-color, 1);
  height: auto;
  bottom: 0;
  p, h2 {
    color: transparentize($primary-color, 1);
  }
  h2 {
    font-size: 1.1em;
    text-transform: uppercase;
  }
}

.highlight {
    background-color: $primary-color;
}

.content-subhead {
  text-transform: uppercase;
  font-size: .6em;
  font-weight: 800;
}
