// About page stuff
.profile-image {
    margin: 0 auto;
    background-image: url("../images/profile.jpg");
    background-position: center center;
    background-size: 10em;
    border-radius: 100px;
    height: 10em;
    width: 10em;
}


