.is-expanded-vertical-dropdown {
    height: 0;
    overflow: hidden;
    padding: 0;
    
    @include breakpoint($tablet) {
		height: initial;
        overflow: hidden;
        overflow: visible;
    }
}
