{% extends "layouts/layout.html" %}


{% set id_2 = "selected" %}

{% block content %}
    <div class="about">
        <h1> Paul Von Zimmerman </h1>
        <h2> About me </h2>
        <article>
            <div class="profile-image"> </div>
            <p> 
            Graduate of Western Washington University with a BA in Design, a
            minor in Computer Science, and a minor in Humanities. Dedicated to 
            creating and programming beautiful and useable websites using web
            technologies. 
            
            </p>
            <p>
            As you've probably gleaned from my website, I like to program and design! 
            That's not all I do though, I'm pretty into digital painting and illustration.
            I try to put my humanities minor to use too by picking up an old
            book and thumbing through it on occasion.  </p>

            <h2> View my CV and checkout my Github and LinkedIn </h2>
            <ul>
              <li> <a href="/assets/paul_von_zimmerman_resume.pdf"> Resume </a></li>
              <li> <a href="http://github.com/pcvonz"> Github </a></li>
              <li> <a href="https://www.linkedin.com/in/paul-von-zimmerman-390627100"> LinkedIn </a> </li>
            </ul>
        </article>
    </div>
{% endblock %}
