{% extends "layouts/content.html" %}

{% block content %}
<div class="work-hero faxian">
</div>
<div class="l-work-content">
    <div class="mockups">
      <img src="/images/faxian/phone.png">
      <img src="/images/faxian/laptop.png">
    </div>
  <h1> Faxian  </h1>
  <h2> The brief </h2>
    <p> As a school project, I developed a branding system and website for a fictional company that dealt with Sustainability Consulting.</p>
  <h2> Research </h2>
  <h3> Competitors </h3>
    <img src="/images/faxian/brands.png">
    <p> 
    The landscape of design in sustainability consulting is
    pretty barren. Most companies use a leaf motif with a wordmark. 
    I wanted Faxian to stand out but still utilize what works. 
    Keep the elements that identify the company as environmentally conscious,
    but emphasize their business savvy.  
    </p>
    <h2> Brand direction </h2>
    <img src="/images/faxian/catalyst.png">
    <ul>
      <li> Bold serious font </li>
      <li> Illustrative elements </li>
    </ul>
  <h2> Implementation </h2>
  <p> 
  I created the website using Susy, a small grid system written for SASS. I also
  implemented a jquery plugin called <em> fullpage.js </em> in order to highlight
  the different services Faxian provides. On desktop the user gets a rather neat
  slideshow, on mobile the plugin is disabled so they read through it without unexpected
  behavior.
  </p>
    <div class="web-link faxian-color">
      <a href="http://pcvonz.github.io/faxian"> Visit the website </a>
    </div>

</div>
{% endblock %}
