{% extends "layouts/content.html" %}

{% block content %}
<div class="work-hero hit-and-bun">
</div>
<div class="l-work-content">
  <div class="mockups">
    <img src="images/hit_and_bun/phone_mockup.png">
    <img src="images/hit_and_bun/desktop.png">
  </div>
  <h1> Hit & Bun </h1>
  <h2> The brief </h2>
    <p>
    As a school project I was tasked with designing a website for <em>Hit and
    bun</em>, a fictional food truck based in Denver Colorado.  With the
    branding given to me, I designed a single page website that took into
    account a users potential needs.
    </p>
  <h2> Research </h2>
    <h3> Competitive Analysis </h3>
    <p>
      Most food trucks in the Denver area push the schedule to the top of the
      page followed by the menu. The catering section usually prompts the user 
      to send an email or submit a form.
    </p>
    <p>
      Social media is important to inform users of the current location of the truck and to establish rapport with customers. 
      Most websites put their social media at the bottom of the page, but I wanted to integrate it
      into the header so users immediately see the feed.
    </p>
    <h3> Scenarios </h3>
    <p> The user scenarios I identified were:</p>
    <ul>
      <li> Finding the location of the food truck. </li>
      <li> Viewing the menu. </li>
      <li> Booking the truck to cater an event.</li>
    </ul>
<h2> Implementation </h2>

  <p> The mobile website is laid out like a standard phone application. The menu is done completely in CSS. </p>
  <p> The desktop website features an embedded and customized twitter feed at the top of the page</p>

  <div class="web-link hit-and-bun-color">
    <a href="http://pcvonz.github.io/hit_and_bun">View the website </a>
  </div>
</div>
{% endblock %}
