{% extends "layouts/layout.html" %}

{% set id_1 = "selected" %}

{% block content %}
        <div id="header_container" class="l-hero">
        </div>
        <div id="header-text">
          {% include "logo.svg" %}
        </div>
        <div class="content">
        <div id="work"></div>
        <div>
            <div class="anim-badge ur-styleguide"> 
                <a id="ur_styleguide" href="ur_styleguide.html"><div class="badge-content">
                    <h2> UR Styleguide </h2>
                        <p>building a modular pattern library</p>
                </div></a>
            </div>
            <div class="anim-badge quasar"> 
                <a id="quasar" href="quasar.html"><div class="badge-content">
                    <h2> Quasar Alarm </h2>
                    <p><span class="content-subhead">Peronal Project</span> Modular Alarm Clock written in Vue.js</p>
                </div></a>
            </div>
            <div class="anim-badge senior"> 
                <a id="senior" href="senior.html"><div class="badge-content">
                    <h2> Senior Exhibition Website </h2>
                    <p><span class="content-subhead">Student Project:</span> Website for WWU Design Major Senior Exhibition </p>
                </div></a>
            </div>
            <div class="anim-badge faxian"> 
                <a id="faxian" href="faxian.html"><div class="badge-content">
                    <h2> Faxian </h2>
                        <p><span class="content-subhead">Student project:</span> Sustainability consultant branding </p>
                </div></a>
            </div>
            <div class="anim-badge godot-loader"> 
                <a id="godot-loader" href="godot-loader.html">
                  <div class="badge-content">
                    <h2> Godot Web Loader </h2>
                      <p>Customizing the default web loader with the Godot brand.</p>
                  </div>
                </a>
            </div>
        </div>

        </div>
{% endblock %}
