{% extends "layouts/layout.html" %}

{% set id_1 = "selected" %}

{% block content %}
        <div id="header_container" class="l-hero">
        </div>
        <div id="header-text">
          {% include "logo.svg" %}
        </div>
        <div class="content">
        <div id="work"></div>
        <div>
            <div class="anim-badge ur-styleguide"> 
                <a id="ur_styleguide" href="ur_styleguide.html"><div class="badge-content">
                    <h2> UR Styleguide </h2>
                        <p>building a modular pattern library</p>
                </div></a>
            </div>
            <div class="anim-badge faxian"> 
                <a id="faxian" href="faxian.html"><div class="badge-content">
                    <h2> Faxian </h2>
                        <p><span class="content-subhead">Student project:</span> Sustainability consultant branding </p>
                </div></a>
            </div>
            <div class="anim-badge hit-and-bun"> 
                <a id="hit_and_bun" href="hit_and_bun.html"><div class="badge-content">
                    <h2> Hit & Bun </h2>
                    <p><span class="content-subhead">Student project:</span> Food truck website</p>
                </div></a>
            </div>
            <div class="anim-badge secutor"> 
                <a id="habit_pomodoro" href="secutor.html">
                  <div class="badge-content">
                    <h2> Secutor </h2>
                        <p>Habit tracking web application</p>
                  </div>
                </a>
            </div>
            <div class="anim-badge townie"> 
                <a id="ac_play" href="townie.html"><div class="badge-content">
                    <h2> Townie </h2>
                        <p>Environmental dependent boombox</p>
                </div></a>
            </div>
        </div>

        </div>
{% endblock %}
