{% extends "layouts/content.html" %}

{% block content %}
<div class="work-hero secutor">
</div>
<div class="l-work-content">
  <div class="mockups">
    <img src="/images/secutor/one.png">
    <img src="/images/secutor/two.png">
  </div>
<h1> Secutor </h1>
  <p> Secutor is an app that is in ongoing development. </p>
<h2> The brief </h2>
<p> 
Secutor was inspired by the 
<a href="https://en.wikipedia.org/wiki/Pomodoro_Technique"> Pomodoro
  Technique</a>. The twist is that it triggers an
  event whenever a pomodoro is completed. I decided to build upon my web knowledge
  and try out ElectronJS. As of now, it connects to the 
  Habitica API and ticks off an item that Habitica keeps track of.  
</p>

<h2> Research </h2>
Initial design mockups were created and shared with some community members. Feedback was implemented into the design.
<h2> Technology Used </h2>
 <ul> 
   <li> ElectronJS </li> 
   <li> Gulp </li> 
   <li> RiotJS </li>
 </ul>
  <div class="web-link secutor-color">
    <a href="https://github.com/pcvonz/electron-habitica-pom">View it on Github </a>
  </div>
</div>
{% endblock %}
