
.about {
  position: relative;
  margin-bottom: 10em;
  @include container(8 center 90%);
  p {
    margin-top: 2em;
    text-align: left;
  }
}
@include breakpoint($tablet) {
    .about {
        @include container(12 center 50%);
        top: 10em;
        margin-bottom: 30em;
    }
}


