nav {

    img {
      display: inline-block;
      float: left;
      height: 1.2em;
    }
    position: fixed;
    z-index: 1;
    top: 0;
    background-color: $primary-color;
    display: block;
    text-align: center;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 1.2em 0 1.2em 0;
    transition: padding 250ms, height 250ms;
    overflow: hidden;
    padding-left: 7%;
    @include container(4 center);
    padding: 1.2em 0 1.2 0;
    @include breakpoint($tablet) {
        background-color: transparentize(#FFFFFF, .1);
        @include container(6 left);
        text-align: left;
        height: 3.6em;
        padding: 0;
    }
    @include breakpoint($desktop) {
        background-color: #FFFFFFE6;
        @include container(6 left);
        text-align: left;
        height: 3.6em;
        padding: 0;

    }
    ul {
      padding: 0;
      li {
        width: 100%;
        @include breakpoint($tablet) {
          width: unset;
          margin-left: 1em;
        }
        
      }
        display: block;
        width: 100%;
        margin-top: 1.2em;
    }
}
