
.hit-and-bun {
  background-image: url("../images/hit_and_bun.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  background-color: $hit-and-bun-color;
}

.faxian {
  background-image: url("../images/faxian.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  background-color: $faxian-color;
}

.secutor {
  background-image: url("../images/secutor.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-color: $secutor-color;
  background-size: contain;
}
.ur-styleguide-color {
  background-color: $ur-styleguide-color;
}
.ur-styleguide {
  background-image: url("../images/ur_guide_1.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  background-color: $ur-styleguide-color;
}

.townie {
  background-image: url("../images/townie.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  background-color: $townie-color;
}

