
.quasar {
  background-image: url("../images/quasar/quasar.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  background-color: $quasar-color;
}

.godot-loader {
  background-image: url("../images/godot_loader/loader.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  background-color: $godot-loader-color;
}

.faxian {
  background-image: url("../images/faxian.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  background-color: $faxian-color;
}

.secutor {
  background-image: url("../images/secutor.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-color: $secutor-color;
  background-size: contain;
}
.ur-styleguide-color {
  background-color: $ur-styleguide-color;
}
.ur-styleguide {
  background-image: url("../images/ur_guide_1.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  background-color: $ur-styleguide-color;
}

.townie {
  background-image: url("../images/townie.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  background-color: $townie-color;
}

.senior {
  background-image: url("../images/senior/senior.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  background-color: $townie-color;
}

